.YandexSmartCaptcha {
  margin-top: 12px;
}

.YandexSmartCaptcha-container {
  min-height: 100px;
}

.YandexSmartCaptcha iframe {
  max-width: 100%;
  border: 0;
}

.LogInModal,
.SignUpModal {
  .YandexSmartCaptcha {
    width: 100%;
  }
}